/Temp
/Library
/Assets/ArtResouces.meta
*.suo
*.user
*.sdf
*.opensdf
obj
/Library
/Temp
/*.csproj
/*.apk
/*.userprefs
/*.unityproj
/*.booproj
/test*
/*.pdb
/Assets/StreamingAssets
/Assets/StreamingAssets.meta
/bin
